* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* NAVIGATION BAR */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background: #00838f;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 100px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    background: #089aa7;
    box-shadow: 1px 3px 40px rgb(0 0 0 / 10%);
    transition: .5s
}

a.active,a:hover {
    background: #089aa7;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none; 
}

/* PROFILE SECTION */
section .profile{
    justify-content: space-between;
    text-align: center;
    padding: 60px;
    background-color: white;
    background-image: url(/assets/images/BG1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

section .photo{
    height: auto;
    overflow-y: hidden;
    width: 20%;
    border-radius: 50%;
}

section .desc{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #00838f;
    background-size: cover;
    background-repeat: no-repeat;
}

section .desc .desc_item {
    color: white;
    padding: 20px;
    width: 45%;
    background-color: none;
    box-shadow: 1px 1px 30px rgb(0 0 0 / 10%);
    border-radius: 15px;
    transition: .3s ease-in;
}

/* SERVICES SECTION */
.services {
   border: 30px; 
   padding: 60px;
}

.services .color_type{
    padding: 20px;
    color: #00838f;
}

.services .color_grouping div {
    width: 25%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    margin: 0px 15px 15px 15px;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgb(0 0 0 / 30%);
}

.services .color_grouping {
    display: flex;
    justify-content: space-between;
}

.color_grouping p{
    font-size: small;
}

.color_grouping div {
    background-color: rgb(44, 47, 55);
    color: white;
    transition: .3s ease-in;
}

.color_grouping div:hover {
    background-color: rgb(0 131 143 / 10%);
    box-shadow: 1px 1px 30px rgb(0 0 0 / 10%);
    color: #00838f;
    border: solid rgb(0 131 14 / 5%);
}

/* FOOTER */
footer {
    background-color: #00838f;
    padding: 40px;
    text-align: center;
    color: white;
}

.social-links {
    margin: 10px;
    
}

.social-links a{
    margin: 10px;
    color: #34c9d6;
}

.social-links a:hover {
    color: #24262b;
    padding-left: 8px;
}








/* RESPONSIVE SETTINGS */

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width:  100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

